/* Reset and basic styles */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Main container styles */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: -webkit-linear-gradient(left, #bdbbbd, #938f93);
    padding-top: 40px;
}

/* Input and button styles */
input,
button {
    border: none;
    outline: none;
    background: none;
}

/* Form container styles */
.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* Form styles */
.form {
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
}

.button_loginsignup {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.submit {
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    background-image: -webkit-linear-gradient(left, #bdbbbd, #938f93);
}

.submit:hover {
    background: -webkit-linear-gradient(left, #bdbbbd, #938f93);
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
}

.forgot-pass:hover {
    color: cornflowerblue;
}

.social-media {
    display: block !important; /* Ensure social media buttons are always displayed */
}

.social-media ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-media ul li {
    margin: 10px 0;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    text-decoration: none;
    color: inherit;
    border: 2px solid;
    border-radius: 8px;
    width: 250px; /* Adjust the width as needed */
    margin: 0 auto;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.social-btn img.social-icon {
    width: 20px;
    height: 20px;
}

.social-btn span {
    margin-left: 5px;
}

.social-btn.btn-outline-danger:hover {
    background-color: #bdbbbd;
    color: white;
    border-color: #bdbbbd;
}

.social-btn.btn-outline-primary:hover {
    background-color: #bdbbbd;
    color: white;
    border-color: #bdbbbd;
}
.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}
.cont.s-signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}
.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}
.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url('/Assets/dorm.jpg');
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.cont.s-signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}
.img-text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img-text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}
.img-text p {
    font-size: 14px;
    line-height: 1.5;
}
.cont.s-signup .img-text.m-up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}
.img-text.m-in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}
.cont.s-signup .img-text.m-in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.sign-in {
    padding-top: 65px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.cont.s-signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}
.img-btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}
.img-btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}
.img-btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}
.img-btn span.m-in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}
.cont.s-signup .img-btn span.m-in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.cont.s-signup .img-btn span.m-up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}
.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}
.cont.s-signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

h5 {
    display: block;
    font-size: 16px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* Modal Styling */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal .form-group{
    padding: 20px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-body small {
    color: #6c757d;
    font-size: 12px;
}

.modal-body {
    padding: 30px 15px;
}

/* Button Styling */
.modal-body .btn.btn-primary {
    background-color: #bdbbbd; /* Button background color */
    color: #fff; /* Button text color */
    display: block;
    margin: 20px 0 auto;
    width: 200px;
    height: 35px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.modal-body .btn.btn-primary:hover {
    background-color: #938f93; /* Darker color on hover */
}

/* Overlay Styling */
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 9;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
