/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --normal-font-size: 1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--white-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/

/* Container */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

/* Button Design 1 */
.btn-color-1 {
    transition: all 0.3s ease 0s;
    border-radius: 8px;
    border: 2px solid rgba(0, 136, 169, 1);
    background-color: rgba(0, 136, 169, 0.8);
    color: white;
    font-weight: var(--font-medium);
    font-family: var(--body-font);
}

.btn-color-1:hover{

}