/* Standard Section */
section {
    background-color: white; /* redzone */
    padding: 40px 0;
}

.main-about {
    padding: 20px;
    max-width: 1120px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-img {
    border-radius: 16px;
}

.about-img-container, .about-text {
    flex: 1;
    min-width: 200px; /* Ensures better layout on smaller screens */
    box-sizing: border-box;
    padding: 20px;
}

.about-title, .about-title-text {
    font-size: 2.0em;
    color: #005b72;
    padding-top: 5px;
    padding-bottom: 5px;
}

.section_text_title_p1 {
    font-size: 1.5em;
    color: #0088a9;
}

.main-about p {
    font-size: 1.0em;
    line-height: 1.6;
    color: #333;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
}

.btn-color-2 {
    color: white;
    border-radius: 8px;
    border: 2px solid rgba(0, 136, 169, 1);
    background-color: rgba(0, 136, 169, 0.8);
    transition: all 0.3s ease;
}

.btn-color-2:hover {
    background-color: rgba(0, 136, 169, 1);
}

.about-img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.image-column {
    text-align: center;
}

.text-column {
    padding-left: 50px;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .main-about-content {
        flex-direction: column;
    }

    .about-img-container, .about-text {
        padding: 10px;
    }

    .about-img {
        margin-bottom: 20px;
    }

    /* Ensure FAQ questions are visible on smaller screens */
    .faq-question {
        display: block; /* Ensure FAQ questions are displayed */
    }

    /* Adjust padding and layout for smaller screens in FAQ section */
    .faq-item {
        margin-bottom: 10px;
    }

    .aboutus .btn,
    .contact-section .btn {
        display: block;
    }
}

@media (max-width: 1120px) {
    .contact-container {
        max-width: 100%;
        margin: 0 auto;
    }
}

/* FAQ Section */
.faq-section {
    padding: 20px;
    background-color: white;
    margin-bottom: 120px;
}

.faq-container {
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.section-title {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #005b72;
    text-align: center;
}

.faq-item {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
}

.faq-question {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: white;
    border-radius: 16px;
    color: rgba(0, 136, 169, 1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 14pt;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.01);
}

.faq-answer {
    display: none; /* Hide initially */
    text-align: center;
    justify-content: center;
    align-items: center; /* Center vertically */
    padding: 20px;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    line-height: 25px;
    margin: 10px 0 20px 0;
    max-height: 0; /* Start with max-height 0 for the hidden state */
    flex-direction: column; /* Ensure content stacks vertically */
    box-sizing: border-box; /* Ensure padding is included in max-height */
}

.faq-answer p {
    margin: 20px 0;
    display: block;
}

.faq-answer.active {
    display: flex; /* Ensure flexbox is applied */
    opacity: 1; /* Fade in */
    max-height: 500px; /* Set a high max-height to allow for text expansion */
    padding: 20px; /* Ensure padding is set when active */
}

/* Contact Us Section */
.contact-section {
    background-color: white;
}

.contact-container {
    width: 76%;
    margin: auto;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact-form-container, .about-img-container {
    flex: 1;
    min-width: 200px;
    box-sizing: border-box;
    padding: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgba(0, 136, 169, 0.8);
    font-size: 1em;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 1em;
    border: 2px solid rgba(0, 136, 169, 1);
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(0, 136, 169, 0.8);
    color: #fff;
    align-self: center; /* Center the button */
}

.contact-form button:hover {
    background-color: rgba(0, 136, 169, 1); /* Darken on hover */
}

@media (max-width: 700px) {
        .contact-container {
            max-width: 90%;

        }
}
